@charset "UTF-8";

/* 回答はここに書いてね */

.recode {
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
}

.recode th {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.recode td:first-child {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.recode tr > * {
  border: 1px solid #dedede;
  border-collapse: collapse;
  height: 46px;
  text-align: center;
  vertical-align: middle;
}

.recode tr:nth-child(odd) td{
  background-color: #ecf1f2;
}

.recode td {
  color: #000;
  font-size: 16px;
  line-height: 22px;
}

.recode tr:last-child {
  border-top: 2px dashed #000;
}
/* 回答はここに書いてね */
